
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f0f4ff;
    color: #333;
    line-height: 1.6;
}
.announcement-bar {
    background: #2e4a6b;
    padding: 10px 0;
    text-align: center;
}

.announcement-bar marquee {
    background-color: #ff5722;
    color: #ff5722;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    white-space: nowrap;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}


header {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    text-align: center;
    padding: 30px 20px;
    color: white;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 34px;
    font-weight: 700;
}

.tagline {
    font-size: 15px;
    margin-top: 5px;
    opacity: 0.9;
}


nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
    padding: 12px 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

nav a {
    text-decoration: none;
    color: #1e3c72;
    font-weight: 600;
    margin: 8px 15px;
    padding: 6px 12px;
    transition: 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background: #1e3c72;
    color: white;
}


.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(30, 60, 114, 0.75);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 85%;
    max-width: 600px;
}

.hero-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background: #ffcc00;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.btn:hover {
    background: black;
    color: #ffcc00;
}

.features {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    flex: 1;
    min-width: 260px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.18);
}

.card h3 {
    color: #1e3c72;
    margin-bottom: 10px;
}


footer {
    background: #1e3c72;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 30px;
}


@media (max-width: 768px) {
    .hero-text h2 {
        font-size: 22px;
    }
}
